
.hero {
    /* border: solid 1px green; */
    width: 100%;
    height: 10em;
    background-image: url('../img/contratosB.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}


/* -----------------footer------------------- */

section.imagenFooter2 {
    background-image: url("../img/footer1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-top: 2em;
    height: 200px;
}

